*{margin:0}
body, .corpo{
    background-color: rgb(230, 0, 0); 
}

.div_menu {
    background-color: rgb(230, 0, 0);
    padding: 30px 0px;
    margin-top: -10px;
    width: 100%;
    display: flex;
}
.logo{
    height: 18vh;
    margin-left: 83%;
}
.menu{
    position: relative;
    text-align: right;
    font-size: 17px;
    float: right;
    margin-left: 66%;
    margin-top:3.5%;
}
.menu a{
    margin: 0px 5px 0px 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-decoration: none;
    font-size: 22px;
    color:rgb(255, 255, 255);
    
}

.formulario {
    background-color: rgb(230, 0, 0);
    border: 0px solid rgb(230, 0, 0);
    width: 30%;
    margin:0 auto;
    margin-bottom: 118.1px;
}

.corpo_form {
    width: 25vw;
    height:20vw;
    margin-left: 30vw
}


.toyota, .hb20,.jetta {
    padding-left: 9px;
    margin-top: 10px;
    height: 33vh;
    float: right;
}

h3{
    text-align: center;
    margin-bottom: 18px;
}
.news_1{
    padding: 0 20px;
    padding-top: 20px;
}
.news_2{
    padding: 0 20px;
    padding-top: 30px;
}
.news_3{
    padding: 0 20px;
    padding-top: 30px;
}
.news_1,.news_2,.news_3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent:1.5em;
    line-height: 3.5vh;
    font-size: 17px;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: rgb(255, 255, 255);
    text-align: justify;
    padding-bottom: 30px;
}

.login{
    background-color: white;
}



footer {
    position: relative;
    width:  100%;
    text-align: center;
    background-color:rgb(22, 22, 22); 
    display: flex;
}
.rodape_left{
    text-align: left;
    margin: 20px 0px 10px 30px;

}
.logo_rodape{
    width: 20vw;
    margin: 10px 10px 0px 30px;
}

.txt_left{
    color:rgb(255, 255, 255);
    text-align: justify;
    text-indent:3em;
    line-height: 5vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    margin-left: 40px;
    margin-bottom: 10px;
    width: 20vw;
    font-size: 15px;
}

.rodape_center{
    text-align: center;
    width: 25vw;
    padding-left: 50px;
    margin-left: 70px;
}

.menu_rodape{
    text-align: justify;
    margin: 70px 0px 10px 0px;

}
.menu_rodape a:hover{
    color:rgb(252, 98, 26);
    
}

.rodape_right{
    text-align: center;
    width: 17vw;
    padding-left: 50px;
    margin-left: 50px;
    margin-top: 40px;
}
.rodape_endereco{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}
.endereco{
    line-height: 4vh;
    text-align: justify;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 16px;
}
.rodape_right p{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify; 
}